bin/
obj/
build-test/
obj-test/
*.user
*.suo
*.dll
*.rar
!source.rar
*.zip
releases/
_backups/
!BossRespawnOverlay.dll
!releases/
releases/*
!releases/*.dll
!releases/*.rar
!_backups/
_backups/*
!_backups/*.dll
